@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: 4px solid lightblue;
    padding: 24px 24px 0 24px;
}

.title{
    border: 2px solid lightblue;
    width: 100%;
    height: 24px;
    margin-bottom: 24px;
}

.box{
    border: 4px solid lightblue;
    width: 30%;
    height: 100px;
    margin-bottom: 24px;
    
}

.box-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}