*{
    box-sizing: border-box;
}

.container{
    border: 4px solid lightblue;
    padding: 80px 24px 56px 24px;
}

.box{
    border: 4px solid lightblue;
    margin-bottom: 24px;
}

.box-medium{
    height: 50px;
}
.box-wrapper{
    display: flex;
    width: 45%;
    flex-direction: column;
}

.box-small-wrapper{
    display: flex;
    justify-content: space-between;
}

.box-big{
    width: 45%;
}

.box-small{
    width: 30%;
    height: 50px;
}
.row{
    width: 100%;
    max-width: 600px;
    margin: 0 auto -24px auto;
    display: flex;
    justify-content: space-between;
  }