*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: 4px solid lightblue;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
}

.box{
    border: 4px solid lightblue;
    margin-bottom: 24px;
}

.box-wrapper{
    width: 45%;
}

.box-large{
    width: 45%;
}

.box-small{
    height: 50px;
}