*{
    box-sizing: border-box;
}
.container {
  border: 4px solid lightgray;
  padding: 80px 24px 56px 24px;

}
.box {
  border: 4px solid lightgray;
  margin-bottom: 24px;
}
.box-large {
  width: 45%;
}
.box-wrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.box-small{
    height: 50px;
}
.box-tiny{
    width: 30%;
    height: 50px;
  
}
.box-wrapper2{
    display: flex;
    justify-content: space-between;
}

.row{
  width: 100%;
  max-width: 600px;
  margin: 0 auto -24px auto;
  display: flex;
  justify-content: space-between;
}